<h1>Report#index</h1>
<p>Find me in app/views/report/index.html.erb</p>
<%
@connection = ActiveRecord::Base.connection
username = 1
result = @connection.exec_query("SELECT * FROM students WHERE id = #{username}")
result.each do |row|
%>

<%= row["id"]%>
<%= row["sname"]%>



<% end %>


<%=form_tag action:"getStudent" do %>
<input type="text" name="sid" placeholder="student id"/><br>
<%= submit_tag "submit" %>
<% end %>


