<h1>Report#student</h1>
<p>Find me in app/views/report/student.html.erb</p>


<table>
  <thead>
    <tr>
      <th>Sid</th>
      <th>Name</th>
      <th>Attendence</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    	<% @students.each do |std| %>
      	<tr>
	        <td><%= std.sid %></td>
	        <td><%= std.sname %></td>
	        <td><%= std.attendance.attend %></td>
      	</tr>
    	<% end %>
  </tbody>
</table>

